name: Tag latest

on:
  schedule:
    - cron: "0 0 * * *" # Every night at Midnight
  workflow_dispatch:

permissions:
  contents: write

jobs:
  tag:
    runs-on: ubuntu-latest

    steps:
      - uses: sergeysova/jq-action@v2
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Fetch all tags
      - name: Tag the latest PrusaSlicer if available
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          chmod +x ./tag_latest_prusaslicer.sh
          ./tag_latest_prusaslicer.sh